DATABASE_URL="postgresql://neondb_owner:npg_hNRpFXU8Vj5G@ep-autumn-mud-a1weegtt-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="abc12635"


NEXT_PUBLIC_BASE_URL=http://localhost:10001