#DATABASE_URL="postgresql://neondb_owner:npg_nZAJiavEdG03@ep-square-thunder-a1ild3lx-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL="DATABASE_URL="postgresql://app_restru:root@restruHub2K26@31.97.215.50:5432/restruDB"
AUTH_SECRET="abc12635"



NEXT_PUBLIC_BASE_URL=http://localhost:10001
NEXT_PUBLIC_API_GATEWAY_SERVICE_URL=http://localhost:3000/api