DATABASE_URL="postgresql://neondb_owner:npg_nZAJiavEdG03@ep-square-thunder-a1ild3lx-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="abc12635"


NEXT_PUBLIC_BASE_URL=http://localhost:10001